*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid gray; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.container{
    max-width:750px;
    width: 100%;
    margin: 5% auto;
    padding: 1rem;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 2px 8px rgb(172, 172, 172);
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
}
.class{
    padding: 0.5rem;
}
form{
    padding: 0.3rem;
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    color: #161616;
    font-size: 3rem;
}
.description{
    text-align: center;
    margin-bottom: 1rem;
    color: #4b4b4b;
    margin-top: -1rem;
    letter-spacing: 2px;
    font-size: 0.7rem;
    font-weight: 100;
}
h3{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #161616;
    font-size: 1.6rem;
    text-decoration: double underline;
}
.required{
    color: red;
}
.radio-div p{
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
}
small , label span, p span{
    color: rgb(34, 34, 34);
    font-size: 0.8rem;
}
label:not(.radio){
    display: block;
    margin-top: 1rem;
}
input{
    color: rgb(59, 59, 59);
    font-weight: 100;
    font-size: 0.8rem;
}
input:not(input[type=radio],input[type=checkbox],input[type=button]),textarea{
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 2px solid grey;
}
input[type=button]{
   width:20%;
   margin: 20px auto;
   padding: 0.5rem 1rem;
   border-radius: 6px;
   background-color: rgb(95, 242, 95);
   color: white;
   transition: background-color 0.3s ease-in-out;
}

input[type=button]:hover{
   background-color: rgb(17, 189, 17);
}
input[type=tel]{
    width: 20%!important;
}
.radio , .checkbox{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1rem;
}
.radio-div{
    margin-top: 0.3rem;
}


@media (max-width:765px){
h1{
    font-size: 2rem;
}
h3{
    font-size: 1.3rem;
}
input:not(input[type=radio],input[type=checkbox]),textarea{
    width: 100%!important;
}
label{
    font-size: 0.7rem;
}
.form p, form div p{
    font-size: 1rem;
}
}